.App{
  position: relative;
  top: 5%;
  left: 30%;
  width: 45vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
}
.App>div{
  width: 90%;
  height: 90%;
}
.ipod{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(45, 139, 139);
  border-radius:10%;
}
.ipod>div{
  margin-left: 25%;
  width: 50%;
  height: 45%;
}
.ipodDisplay{
  margin-top: 5%;
  background-image: url(https://images.unsplash.com/photo-1470813740244-df37b8c1edcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
.ipodController{
  background-color: grey ;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}