.parent-touch-area{
    position: relative;
    margin: 4.5%;
    width: 95%;
    height: 95%;
}
.touch-area{
    position: relative;
    top: 8%;
    margin: 5%;
    margin-left: 13%;
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.touch-area>div{
    margin: 0;
    width: 30%;
    height: 33%;
    background-color: lightgray;
}
.touch-div-11{
border-top-left-radius: 100%;
border-top: 1px white solid;
border-left: 1px white solid;
}
.touch-div-12{
    border-top: 1px white solid;
}
.touch-div-12 span{
    position: relative;
    top: 27%;
    left: 3%;
    float: right;
    font-size: 1.5vw;
    font-weight: 500;
    color: black;
    filter: invert(0.5);
}
.touch-div-13{
    border-top: 1px white solid;
    border-right: 1px white solid;
    border-top-right-radius: 100%;
}
.touch-div-31{
    border-bottom-left-radius: 100%;
    border-left: 1px white solid;
    border-bottom: 1px white solid;
}
.touch-div-33{
    border-bottom-right-radius: 100%;
    border-right: 1px white solid;
    border-bottom: 1px white solid;
}
.touch-div-21{
    border-left: 1px white solid;
}
.touch-div-21 img{
    position: relative;
    top: 18%;
    left: 25%;
    width: 60%;
    height: 60%;
    filter: invert(0.5);
}
.touch-div-22 img{
    position: relative;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    filter: invert(0.3);
}
.touch-div-23{
    border-right: 1px white solid;
}
.touch-div-23 img{
    position: relative;
    top: 18%;
    left: 15%;
    width: 60%;
    height: 60%;
    filter: invert(0.5);
}
.touch-div-32{
    border-bottom: 1px white solid;
}
.touch-div-32 img{
    position: relative;
    top: 20%;
    left: 21%;
    width: 60%;
    height: 60%;
    filter: invert(0.5);
}