.speaker{
    position: relative;
    left: 8.8vw;
    top: -0.9vh;
    height: 1.5em;
    width: 2.4em;
    filter: invert(0.1);
}
.ipod-navbar{
    color: white;
    margin-top: 0%;
    margin-left: 5%;
    padding-bottom: 2px;
    padding-left: 2px;
    font-size: 0.9em;
    height: 6%;
    width: 86.4%;
    background-color: rgb(102, 80, 80);
    border: 4px rgb(85, 42, 42) solid;
    border-bottom: 0px;
    overflow: hidden;
}
.ipod-navbar span{
    margin-right: 5%;
}
.ipod-navbar span img{
    padding-top: 2px;
    height: 1em;
    width: 1em;
    filter: brightness(0) invert(1);
}
.carrier{
    float: left;
    padding-left: 0.1vw;
}
.wifi{
    position: relative;
    float: left;
    top: 0.2vh;
}
.time{
    position: relative;
    float: middle;
    left: 1.2vw;
    top: 0.1vh;
}
.battery{
    position: relative;
    float: right;
    top: 0.25vh;
}
.ipod-screen{
    
    margin-left: 5%;
    width: 87%;
    height: 82%;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
    background-image: url("https://images.unsplash.com/photo-1470813740244-df37b8c1edcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    border: 4px rgb(85, 42, 42) solid;
    border-top: 0px;
}
.main-screen-heading{
    margin: 0%;
    height: 100%;
}
.main-screen-heading>h2{
    position: relative;
    top: 43%;
    padding-left: 1.25vw;
    font-size: 2vw;
    width: 90%;
    overflow: hidden;
    /* left: 12%;
    right: 12%; */
    margin: 0%;
    color: white;
}
.song-screen{
    background-image: url("https://images.unsplash.com/photo-1505859208100-4a17362f784b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    display: none;
    position: relative;
    top: -100%;
    height: 100%;
}
.song-screen>h3{
    margin: 0;
    position: relative;
    top: 15%;
    left: 32%;
    font-size: 200%;
}
.games-screen{
    background-image: url("https://images.unsplash.com/photo-1596270895845-8866e6b8f7ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    display: none;
    position: relative;
    top: -100%;
    height: 100%;
    
}
.games-screen>h3{
    margin: 0;
    position: relative;
    top: 15%;
    left: 32%;
    font-size: 200%;
    color: rgb(252, 252, 252);

}
.setting-screen{
    background-image: url("https://images.unsplash.com/photo-1590783609742-82564b33e5fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    display: none;
    position: relative;
    top: -100%;
    height: 100%;
    
}
.setting-screen>h3{
    margin: 0;
    position: relative;
    top: 76%;
    left: 32%;
    font-size: 200%;
    color: rgb(252, 252, 252);

}
